div.contact {
  height: 30vh;
  background-color: #848282;
  font-family: "Anta", sans-serif;
}

.icons {
  display: flex;
  color: rgb(18, 3, 31);
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}

