div.form-page {
    display: flex;
    justify-content: center;
    background-color:#6f4c6f;
    height: 100vh;
    background-size: cover !important;
    border-radius: 10px;
}

.forlogo {
    align-items: center;
}

h1.resume {
  background: linear-gradient(to right, rgb(155, 86, 129), rgb(60, 16, 83));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 37px;
  margin-top: 0px;
}

.form-button {
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.form-button:hover {
    transform: scale(1.1);
    transition: 0.4s;
}


.containing {
    width: 450px;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    max-height: 720px;
    background-color: rgb(180, 174, 181);
    border-radius: 3px;
}

p.err {
    color: red;
}

p.text-center.forms {
    margin-top: 12px;
    color: rgb(7, 7, 7);
}

@media only screen and (max-width: 900px) {
    div.form-page {
        background: url('https://w0.peakpx.com/wallpaper/687/98/HD-wallpaper-neonspace2-cool-neon-rocket-space.jpg') no-repeat !important;
        background-size: cover;
    }

    .containing {
        width: 300px;
        min-height: 300px; /* minimum height */
        max-height: 650px;
        margin: 50px 0px auto;
        background-color: rgb(195, 195, 219);
        border-radius: 10px;
    }

    .form-control-lg {
        padding: 3px;
    }

    .form-label {
        font-size: 12px;
        color: black;
    }
}