div.form-page {
    display: flex;
    justify-content: center;
    background: url('../images/bc.jpg');
    height: 100vh;
    background-size: cover !important;
    border-radius: 10px;
}

h2.text-uppercase {
    font-size: 20px !important;
}

h1.resume {
  background: linear-gradient(to right, rgb(155, 86, 129), rgb(60, 16, 83));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 37px;
  margin-top: 0px;
}

.form-button {
    border: none;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
    color: #564CFC;
    background-color: transparent;
    text-decoration: none;
}

.form-button:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.form-control-lg {
    background-color: transparent;
    border-radius: 20px;
    margin-bottom: 15px;
}

.form-control.form-control-lg::placeholder {
    color: white;
    opacity: 1;
    font-size: 15px;
}

button.mt-3.btn.btn-secondary {
    padding: 10px 170px;
    background-color: white;
}


.containing {
    width: 450px;
    justify-content: center;
    margin-top: 60px;
    padding: 20px;
    max-height: 720px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.alert-style {
    max-width: 200px;
    margin: 0 auto;
    color: silver;
    background-color: #050915;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    left: 80%;
    top: 0;
}

.login {
    margin-top: 170px !important;
}

.form-label {
    color: white;
}

p.err {
    color: red;
}

p.text-center.forms {
    margin-top: 12px;
    color: rgb(236, 232, 232);
}

@media only screen and (max-width: 900px) {

    .containing {
        width: 300px;
        min-height: 300px; /* minimum height */
        max-height: 650px;
        margin: 50px 0px auto;
        border-radius: 10px;
    }

    .form-control-lg {
        padding: 3px 10px;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .form-control.form-control-lg::placeholder {
        font-size: 13px;
    }

    .form-button {
        font-size: 13px;
    }

    .form-label {
        font-size: 12px;
    }

    button.mt-3.btn.btn-secondary {
        padding: 5px 85px;
    }

    .alert-style {
    font-size: 10px;
    width: auto;
    max-width: 100px;
    height: 100px;
    padding: 5px; /* Add padding for better spacing */
    margin: 0 auto;
    color: silver;
    background-color: transparent;
    border-radius: 10px;
    left: 60%;
    position: fixed; /* Change position to fixed for consistent positioning */
    z-index: 1050; /* Increase z-index to ensure it's above most elements */
    bottom: 0; /* Adjust top position for visibility */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}
}