:root {
  --primary-color: #050915;
  --text : #C0C0C0;
}

.resume {
  background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body, html {
  color: var(--text);
  background-color: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

div.main-land {
  background: url('../images/bc.jpg');
  background-size: cover !important;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.navbar.navbar-expand-lg {
  padding: 16px;
  border-radius: 15px;
  background-color: #12041F;
}

.nav-link {
  font-size: 20px !important ;
  margin: 0 10px;
  color: var(--text);
}

.nav-link, .nav-link-left, .nav-link.resume {
  transition: transform 0.3s ease;
}


.nav-link:hover, .nav-link-left:hover, .nav-link.resume:hover {
  background-color: white;
  transform: translate(0px, -4px);
}


.nav-link-left {
  font-size: 20px;
  margin-left: 990px;
  margin-right: 30px;
  color: var(--text);
  text-decoration: none;
}


h1, h2, span {
  font-size: 3rem !important;
  margin: 0 10px;
}

h1.mb-2 {
  margin-top: 300px;
}

p {
  margin: 0 10px;
  font-size: 15px;
  color: #C0C0C0;
}

.for-link {
  display: flex;
  margin: 0 10px;
  gap: 20px;
}

.btn.btn-secondary {
  background-color: transparent;
  color: rgb(225, 90, 178);
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  padding: 10px;
}

.btn.btn-secondary:hover {
  transform: translateY(-3px);
  background-color: #f2eff4;
  box-shadow: 0 0 10px #fff;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.animation-place {
  margin-top: 200px;
  width: 450px;
  height: 450px;
  background-color: transparent;
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}

.resume, h1, p, small {
  overflow: hidden;
  white-space: nowrap;
  animation: reveal 3s linear;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes colorChange {
  0% { color: #C0C0C0; }
  100% { color: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83)); }
}

.resume {
  animation: fadeIn 3s, colorChange 5s;
}


@keyframes mousey {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scroller {
  0% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(15px); }
  100% { transform: translateX(-50%) translateY(0); }
}


/* Responsive css */

@media only screen and (max-width: 900px) {

  div.main-land {
      height: 100vh;
  }

  div.row.intro {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }

  .col-md-8 {
    order: 1;
    height: '20vh';
    text-align: left;
  }

  .col-md-4 {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1.mb-2 {
    margin-top:75px !important;
  }

  h1, h2, span {
    font-size: 20px !important;
  }

  p.mt-2 {
    font-size: 8px;
  }

  nav.navbar.navbar-expand-lg {
    display: flex;
    padding: 5px;
    background-color: transparent;
    width: 100%;
  }

   .navbar-collapse {
    position: absolute;
    top: 62px;
    width: 100%;
  }

  a.nav-link, a.nav-link-left {
    font-size: 10px !important;
    margin: 0 10px;
  }

  .btn.btn-secondary {
    padding: 5px;
    margin-top: 20px;
  }

  .animation-place {
    width: 450px;
    height: 450px;
  }


  .scroll-downs {
  display: none;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.mousey {
  width: 35px;
  border: 2px solid rgb(183, 165, 183);
}
}