
:root {
  --primary-color: #050915;
  --text : #C0C0C0;
}

.resume {
  background: linear-gradient(to right, #7F50FC, rgb(60, 16, 83));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body, html {
  color: var(--text);
  background-color: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

div.main-land {
  background: url('../images/bc.jpg');
  background-size: cover !important;
  height: 100vh;
  font-family: "Monsterrat", sans-serif;
}

.navbar.navbar-expand-lg {
  padding: 18px;
  border-radius: 7px;
  background-color: #12041F;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.nav-link {
  font-size: 15px !important ;
  margin: 0 10px;
  color: var(--text);
}

.active {
  text-decoration: underline;
  font-weight: bolder;
}

a.nav-link-left {
  font-size: 15px;
  margin-left: 990px;
  margin-right: 30px;
  color: var(--text);
  text-decoration: none;
}

a.nav-link:hover, a.nav-link-left:hover {
  text-decoration-line: overline;
  transition: ease-in-out;
}

h1, h2, span {
  font-size: 3rem !important;
  margin: 0 10px;
}

h1.mb-2 {
  margin-top: 300px;
}

p {
  margin: 0 10px;
  font-size: 15px;
  color: #C0C0C0;
}

.for-link {
  display: flex;
  margin: 0 10px;
  gap: 20px;
}

.btn.btn-secondary {
  background-color: transparent;
  color: rgb(225, 90, 178);
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  padding: 10px;
}

.btn.btn-secondary:hover {
  transform: translateY(-3px);
  background-color: #f2eff4;
  box-shadow: 0 0 10px #fff;
}

.animation-place {
  margin-top: 200px;
  width: 450px;
  height: 450px;
  background-color: transparent;
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}

.resume, h1, p, small {
  overflow: hidden;
  white-space: nowrap;
  animation: reveal 3s linear;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes colorChange {
  0% { color: #C0C0C0; }
  100% { color: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83)); }
}

.resume {
  animation: fadeIn 3s, colorChange 5s;
}

.scroll-downs {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.mousey {
  width: 40px;
  height: 70px;
  border: 2px solid white;
  border-radius: 25px;
  position: relative;
  animation: mousey 1s infinite;
  margin: 0 auto;
}

.scroller {
  width: 8px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  animation: scroller 1s infinite;
}


@keyframes mousey {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scroller {
  0% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(15px); }
  100% { transform: translateX(-50%) translateY(0); }
}


/* Responsive css */

@media only screen and (max-width: 900px) {

  div.main-land {
      height: 100vh;
  }

  .col-md-8 {
    height: 20vh;
  }

  h1.mb-2 {
    margin-top:75px !important;
  }

  h1, h2, span {
    font-size: 20px !important;
  }

  p.mt-2 {
    font-size: 8px;
  }

  nav.navbar.navbar-expand-lg {
    display: flex;
    padding: 5px;
    background-color: transparent;
    width: 100%;
  }

   .navbar-collapse {
    position: absolute;
    top: 62px;
    width: 100%;
  }

  a.nav-link, a.nav-link-left {
    font-size: 10px !important;
    margin: 0 10px;
  }

  .btn.btn-secondary {
    padding: 5px;
    margin-top: 20px;
  }

  .animation-place {
    margin: 0px 0px 40px 0px;
    width: 300px;
    height: 300px;
  }


  .scroll-downs {
  display: none;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.mousey {
  width: 35px;
  border: 2px solid rgb(183, 165, 183);
}
}