div.contain {
    height: 100vh;
    background-color:  rgb(18, 3, 31);
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    align-items: center;
}

.image_classs {
    order: 2;
    width: 50vh;
    height: 70vh;
    margin-top: 30px;
    border-radius: 5%;
}

p.instruct {
    color: #C0C0C0;
}

@media only screen and (max-width: 900px) {


    div.contain {
        height: 130vh;
        width: 100%;
    }

    .image_classs {
        width: 70vw;
        height:auto;
    }

    div.col-md-4 {
        width: 100%;
        box-sizing: border-box;
        margin: 0px auto;
    }

    p.instruct {
        font-size: 15px !important;
    }
}
