div.contain {
    height: 85vh;
    background-color:  rgb(18, 3, 31);
    font-family: "Anta", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.col-md-4 {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    align-items: center;
}

.image_classs {
    order: 2;
    width: 50vh;
    height: 70vh;
    margin-top: 30px;
    border-radius: 5%;
}

.guide{
    font-size: 2em;
    color: #C0C0C0;
    text-align: center;
    font-family: "Anta",sans-serif;
    font-weight: bolder;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

p.instruct {
    color: #C0C0C0;
}
