.final-button {
    text-align: center;
}

.btn.btn-secondary.fn {
    padding: 7px 15px;
    color: #09090a !important;
    background-color: #a993f2;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.btn.btn-secondary.fn:hover {
    transform: translateY(-3px);
    color: #04050F;
    background-color: #622379;
    box-shadow: 0 0 10px #fff;
}