:root {
  --primary-color: #050915;
  --text : #C0C0C0;
}

div.full-height.right {
    min-height: 100vh;
    background-color: #837a83;
}


.navbar.navbar-expand-lg.main {
  border-radius: 15px;
  background-color: rgb(183, 165, 183);
  padding: 10px;
  max-width: 80%;
  margin-left: 370px;
}

.navbar-nav {
  font-size: 10px;
}

a.nav-link {
  font-size: 20px;
}


.resume {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume {
  animation: fadeIn 3s, colorChange 5s;
}

.sexy-box {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  margin: 40px auto 0;
  max-height: 600px;
}

.avatar-left {
  margin: 15px auto 20px;
  display: block;
  width: 30%;
}

.user-spot {
  display: inline-block;
  flex: 1;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  margin: 0px auto;
  background: linear-gradient(to right, rgb(187, 93, 156), rgb(112, 53, 144));
}

h1.text-center.main {
  margin-top: 120px;
}

h2 {
  font-size: 17px;
  color: var(--text);
}

.ai {
  color: var(--text);
  margin: auto;
}

h2.questions {
  flex: 1;
  margin-top: 20px;
  font-size: 17px;
  margin-left: 15px;
  border: 1px solid rgb(127, 99, 125);
  padding: 10px;
  border-radius: 20px;
  white-space: wrap;
  overflow-wrap: break-word;
}

h2.questions span {
  font-size: 15px !important;
  margin: 0;
}

h2.text-center.mt-1 {
  font-size: 20px !important;
}

.input-group .form-control {
  border-radius: 40px;
  height: 60px;
  background-color: #2f2d2f;
  color: white;
  margin-top: 140px;
}

.input-group textarea {
  padding-top: 20px; /* Adjust as needed */
  padding-bottom: 20px; /* Adjust as needed */
}

.input-group button {
  margin-top: 140px;
  background-color: rgb(35, 23, 44);
}

.input-group button:hover {
  background-color: #837a83;
}

.input-group textarea::placeholder {
  color: rgb(220, 212, 212);
  line-height: 20px;
  padding-top: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.a4 {
  box-sizing: border-box;
  margin: 70px auto;
  width: 20%;
  height: 500px;
  background: transparent;
  box-shadow: 0px 0px 5px rgba(250, 245, 245, 0.5);
  padding: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 900px) {

  .navbar.navbar-expand-lg.main {
    margin: 0px auto;
    padding: 5px;
  }

  .user-spot {
    width: 50px;
    height: 50px;
  }

  h1.text-center.main {
    font-size: 1.5rem;
    margin-top: 100px;
  }

  h1.text-center.mt-5 {
    font-size: 25px !important;
    margin: 0px auto;
  }

  p {
    font-size: 10px;
  }

  h2 {
    font-size: 9px;
  }


  h2.questions {
    font-size: 10px;
    margin-top: 13px;
  }

  span.fs-5 {
    display: flex;
    font-size: 10px !important;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 20px 0px;
  }

  .a4 {
    max-height: 400px;
    width: 3%;
    margin: 70px 0px 0px 0px;
    padding: 40px;
  }

  .sexy-box {
    margin: 30px auto;
    width: 95%;
  }

  .input-group .form-control {
    height: 30px;
    font-size: 10px;
  }

  .input-group textarea {
    font-size: 15px;
    line-height: 1.5;
    height: auto;
    padding: 10px auto;
  }

  .input-group textarea::placeholder {
    font-size: 10px;
    line-height: 1.5;
  }
}