div.form-page {
    display: flex;
    justify-content: center;
    background: url('https://img.freepik.com/premium-photo/futuristic-dark-background-ripple-effect-web-pink-dots-big-data-illustration-technologies-artificial-intelligence-effect-particle-oscillation-3d-rendering_710001-333.jpg') !important;
    height: 100vh;
    background-size: cover !important;
}

.containing {
    width: 500px;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    max-height: 600px;
    background-color: rgb(180, 174, 181);
    border-radius: 16px;
}
