
:root {
  --primary-color: #050915;
  --text : #C0C0C0;
}

body, html {
  background: none !important;
}

.resume {
  background: linear-gradient(to right, rgb(155, 86, 129), rgb(60, 16, 83));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.main-land {
  margin: 0;
  background: url('https://img.freepik.com/premium-photo/futuristic-dark-background-ripple-effect-web-pink-dots-big-data-illustration-technologies-artificial-intelligence-effect-particle-oscillation-3d-rendering_710001-333.jpg') !important;
  height: 100vh;
  width: 100%;
  background-size: cover !important;
  font-family: "Anta", sans-serif;
}

a.nav-link.left {
  margin-left: 780px !important;
}

.navbar.navbar-expand-lg {
  border-radius: 15px;
  background-color: rgb(183, 165, 183);
  padding: 20px;
}

.navbar-nav {
  font-size: 18px;
}

a.nav-link {
  font-size: 30px;
}

a.nav-link:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 4px #c867eb;
  transition: all 0.5s ease-in-out;
}

h1, h2, h3, p, small {
  color: var(--text);
}

h1 {
  margin-top: 120px;
  font-size: 3rem;
}

h3 {
  margin-top: 180px;
  font-size: 2rem;
}

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #C0C0C0;
}
small {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #C0C0C0;
}

.for-link {
  text-align: center;
}
.btn.btn-secondary {
  background-color: rgb(183, 165, 183);
  color: black;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  padding: 15px 20px;
}

.btn.btn-secondary:hover {
  transform: translateY(-3px);
  color: #04050F;
  background-color: #b252d5;
  box-shadow: 0 0 10px #fff;
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}

.resume, h1, p, small {
  overflow: hidden;
  white-space: nowrap;
  animation: reveal 4s linear;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes colorChange {
  0% { color: #C0C0C0; }
  100% { color: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83)); }
}

.resume {
  animation: fadeIn 3s, colorChange 5s;
}



.route-links {
  text-decoration: none;
  color: black;
}

.scroll-downs {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.mousey {
  width: 40px;
  height: 70px;
  border: 2px solid white;
  border-radius: 25px;
  position: relative;
  animation: mousey 1s infinite;
  margin: 0 auto;
}

.scroller {
  width: 8px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  animation: scroller 1s infinite;
}
.next-page {
  margin-top: 20px;
  min-height: 100vh;
  width: 100%;
  background: rgb(24, 1, 36);
  background-size: cover !important;
  font-family: "Anta", sans-serif;
}

.colum-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.rows{
  display: contents;

}


@keyframes mousey {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scroller {
  0% { transform: translateX(-50%) translateY(0); }
  50% { transform: translateX(-50%) translateY(15px); }
  100% { transform: translateX(-50%) translateY(0); }
}