div.contain {
    min-height: 100vh;
    background-color: rgb(24, 1, 36);
        
}
body {
    margin: 0;
    padding: 0;
}
.col-md-3 {
    display: flex;
    flex-direction: column;
    font-weight: bolder;


}

.image_classs {
    order: 1;
    width: 100%;
    height: 80%;
    margin-top: 80px;
    margin-bottom: 50px;
    border-radius: 5%;
    

}

.col-md-3>p {
    order: 2; 
}

.paragraph{
    font-size: 20px;
    color:#C0C0C0;
    text-align: center;
    font-family: "Anta",sans-serif;
    font-weight: bolder;
    order: 3;
}
.guide{
    font-size: 2em;
    color: #C0C0C0;
    text-align: center;
    font-family: "Anta",sans-serif;
    font-weight: bolder;
}